.vagrant/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
.settings/
.buildpath
.project
node_modules/
package-lock.json
admin/sessions/*
public/uploads/*
error_log.log
module/Application/src/facebook_login/*
module/Application/src/google_login/*
Untitled-1.txt
module/Application/src/Model/class/sql/ConnectionProperty.class.php
admin/config.php
admin/connect.php
.htaccess
public/.htaccess
public/index.php
admin/connect.php
admin/config.php
