.vagrant/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
.settings/
.buildpath
.project
node_modules/
package-lock.json
admin/sessions/*
public/uploads/*
error_log.log
