$base-color: #2576ba;
$base-red: #ef0101;
$base-black: #5a5a5a;
$border-color-main: #b7b7b7;
$base-grey: #818181;
$base-purple: #c3023b;
$menu-grey: #acacac;
$button-color: #c5003c;
$fontPrimary: "Montserrat Alternates", sans-serif;
$fontsecondary: "Montserrat", sans-serif;
@media (min-width: 1305px) {
  .container {
    max-width: 1300px;
  }
}
@import "main";
@import "header";
@import "banner";
@import "product";
@import "footer";
@import "vendor";
@import "user";
@import "careers";
@import "contactus";
@import "responsive";
