.item-wrapper {
  padding: 10px;
  background-color: #fff;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  line-height: 1;
  &_title {
    margin-bottom: 10px;
    margin-top: 10px;
    a{
        color: #000;
    }
  }
  &_price {
    color: $base-color;
  }
  &_img{
      img{
        width: 100%;
      }
      a{

      }
  }
  &_cart_heart{
      padding-top: 15px;
      a{
          display: inline-block;
          margin-right: 5px;
          margin-left: 5px;
      }
  }
}
