@media (min-width: 1305px) {
  .container {
    width: 1300px; } }

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #000; }
  body a:hover {
    text-decoration: none; }

.categories-slider-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .categories-slider-wrapper .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0; }
    .categories-slider-wrapper .bx-wrapper .bx-next {
      right: -45px;
      background: url(../img/arrow-right1.png) no-repeat 0px 0px; }
    .categories-slider-wrapper .bx-wrapper .bx-prev {
      left: -45px;
      background: url(../img/arrow-left1.png) no-repeat 0px 0px; }
    .categories-slider-wrapper .bx-wrapper .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      outline: 0;
      width: 40px;
      height: 18px;
      text-indent: -9999px;
      z-index: 9999; }
  .categories-slider-wrapper #categories-slider > div {
    padding: 10px; }
  .categories-slider-wrapper #categories-slider .cat-title {
    text-align: center;
    margin-top: 10px; }
    .categories-slider-wrapper #categories-slider .cat-title a {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 300;
      color: #000;
      line-height: 1; }

.main-title {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #2576ba;
  margin-top: 40px;
  margin-bottom: 10px; }
  .main-title::after {
    background: none repeat scroll 0 0 #2576ba;
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 100px;
    margin: auto; }
  .main-title.centered {
    text-align: center; }

.secondary-title {
  font-size: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1;
  color: #000;
  margin-bottom: 10px; }
  .secondary-title::after {
    background: none repeat scroll 0 0 #2576ba;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 60px; }

.with-margin .main-title {
  margin-bottom: 40px; }

.full-width {
  padding-top: 10px;
  padding-bottom: 10px; }
  .full-width.base-color {
    background-color: #2576ba; }
  .full-width.with-slider {
    padding-bottom: 55px; }

.special-tags {
  margin-bottom: 15px;
  margin-top: 5px;
  border-bottom: 2px solid #fff; }
  .special-tags .special-tags-slider {
    display: none; }
  .special-tags ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px; }
    .special-tags ul li {
      display: inline-block; }
      .special-tags ul li a {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        color: #000;
        border-right: 2px solid #000;
        line-height: 1;
        padding: 0px 10px; }
        .special-tags ul li a:hover {
          color: #fff; }
      .special-tags ul li:last-child a {
        border-right: none;
        padding-right: 0; }
      .special-tags ul li:first-child a {
        padding-left: 0; }
      .special-tags ul li.active a {
        font-weight: bold;
        color: #fff; }

.special-tags-slider-container {
  margin-left: -10px;
  margin-right: -10px; }
  .special-tags-slider-container .special-tags-slider > div {
    padding: 10px; }
  .special-tags-slider-container .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    background-color: transparent; }
    .special-tags-slider-container .bx-wrapper .bx-pager {
      bottom: -35px; }
      .special-tags-slider-container .bx-wrapper .bx-pager a {
        background: #5492c6;
        width: 25px;
        height: 25px;
        border-radius: 50%; }
      .special-tags-slider-container .bx-wrapper .bx-pager a:hover,
      .special-tags-slider-container .bx-wrapper .bx-pager a.active,
      .special-tags-slider-container .bx-wrapper .bx-pager a:focus {
        background: #c6d6e4; }

.ads-container {
  margin-top: 20px;
  margin-bottom: 20px; }
  .ads-container img {
    width: 100%; }
  .ads-container .ad2 {
    margin-bottom: 26px; }

.accordion-c {
  background-color: #f7f7f7;
  padding: 15px 15px; }
  .accordion-c .accordion_title {
    color: #2576ba;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .accordion-c .card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d8d8d8; }
    .accordion-c .card:last-child {
      border-bottom: none; }
    .accordion-c .card .card-header {
      padding: 0.75rem 0rem;
      border-radius: 0;
      background-color: transparent;
      border-bottom: none; }
      .accordion-c .card .card-header a {
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 18px;
        display: block; }
        .accordion-c .card .card-header a i {
          float: right;
          color: #2576ba; }
    .accordion-c .card .card-body {
      padding: 10px 0; }

.main-wrapper {
  margin-bottom: 30px; }

.item-col {
  margin-bottom: 25px; }

#product-pagination.text-center .pagination {
  display: inline-flex; }

#product-pagination ul.pagination li {
  display: inline-block; }
  #product-pagination ul.pagination li a {
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #797979;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px; }
  #product-pagination ul.pagination li.active a {
    background-color: #2576ba;
    color: #fff; }

.ads-c {
  margin-bottom: 20px; }
  .ads-c .ad-col:first-child {
    margin-bottom: 15px; }
  .ads-c .ad-col img {
    width: 100%; }

.spotlight-deals > div > div {
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  padding-top: 20px;
  padding-bottom: 20px; }

.spotlight-deals_img {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  position: relative; }
  .spotlight-deals_img .sale-tag {
    position: absolute;
    background-color: #ef0101;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 27px;
    padding: 5px 10px;
    line-height: 1;
    transform: rotate(-90deg); }

.spotlight-deals_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2576ba;
  border-bottom: 1px solid #5a5a5a;
  margin-bottom: 20px; }
  .spotlight-deals_title span {
    float: right;
    position: relative;
    top: -6px; }

.spotlight-deals_item_title {
  margin-bottom: 15px; }
  .spotlight-deals_item_title a {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 266;
    color: #000; }

.spotlight-deals_price1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  color: #818181;
  line-height: 1;
  text-decoration: line-through;
  font-weight: 500;
  margin-bottom: 10px; }

.spotlight-deals_price2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 40px;
  color: #2576ba;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px; }
  .spotlight-deals_price2 span {
    font-size: 25px;
    margin-left: 10px; }

.spotlight-deals_buttons {
  margin-top: 25px; }
  .spotlight-deals_buttons a {
    display: inline-block;
    color: #818181 !important;
    border: 1px solid #818181;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 20px; }
    .spotlight-deals_buttons a:first-child {
      margin-right: 15px; }
    .spotlight-deals_buttons a img {
      width: 25px;
      margin-right: 10px; }
    .spotlight-deals_buttons a:hover {
      background-color: #818181;
      color: #fff !important; }
      .spotlight-deals_buttons a:hover img {
        filter: brightness(0) invert(1); }

.compact-cart-wrapper .compact-cart-item {
  border-bottom: 1px solid #818181;
  padding-bottom: 5px;
  margin-bottom: 10px; }
  .compact-cart-wrapper .compact-cart-item:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .compact-cart-wrapper .compact-cart-item .compact-cart-title {
    font-size: 14px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #000;
    line-height: 1;
    margin-bottom: 10px; }
  .compact-cart-wrapper .compact-cart-item .compact-cart-price {
    font-size: 14px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #2576ba; }
  .compact-cart-wrapper .compact-cart-item .compact-cart-img {
    text-align: center; }
    .compact-cart-wrapper .compact-cart-item .compact-cart-img img {
      width: 100%; }

.compact-cart-wrapper .compact-cart-buttons a.to-cart {
  margin-bottom: 10px;
  background-color: #c5003c;
  color: #fff !important;
  border: 1px solid #c5003c;
  border-radius: 4px;
  display: block;
  text-align: center; }

.compact-cart-wrapper .compact-cart-buttons a.to-checkout {
  background-color: #2576ba;
  color: #fff !important;
  border: 1px solid #2576ba;
  border-radius: 4px;
  display: block;
  text-align: center; }

.noSelect,
.noSelect * {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */ }

@media (min-width: 768px) {
  .panel-group {
    width: 400px; }
  .thumbnail {
    margin: 0; }
  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; }
  .col-md-2.item-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

.mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li > a {
  color: #fff; }

.mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li ul.dropdown-menu li.grid-list > div > div {
  margin-bottom: 15px; }

.mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li ul.dropdown-menu li.grid-list .main-cat-name {
  margin-bottom: 5px; }
  .mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li ul.dropdown-menu li.grid-list .main-cat-name a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #b7b7b7; }

.mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li ul.dropdown-menu li.grid-list .subcategories {
  color: black;
  padding-left: 0;
  list-style: none; }
  .mega-menu nav.navbar .navbar-collapse > ul.navbar-nav > li ul.dropdown-menu li.grid-list .subcategories li a {
    color: #000; }

.mega-menu .brands-categories {
  margin-bottom: 25px; }
  .mega-menu .brands-categories ul {
    padding-left: 0;
    list-style: none; }
    .mega-menu .brands-categories ul li {
      display: inline-block; }
      .mega-menu .brands-categories ul li a {
        color: #acacac;
        border-right: 2px solid #acacac;
        line-height: 1;
        padding: 0px 10px; }
        .mega-menu .brands-categories ul li a:hover {
          color: #2576ba; }
      .mega-menu .brands-categories ul li:last-child a {
        border-right: none; }
      .mega-menu .brands-categories ul li.active a {
        color: #2576ba; }

.mega-menu .brands-slider-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }
  .mega-menu .brands-slider-container .brands-slider {
    display: none; }
  .mega-menu .brands-slider-container .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
    margin-bottom: 25px; }
    .mega-menu .brands-slider-container .bx-wrapper .bx-next {
      right: -45px;
      background: url(../img/arrow-right.png) no-repeat 0px 0px; }
    .mega-menu .brands-slider-container .bx-wrapper .bx-prev {
      left: -45px;
      background: url(../img/arrow-left.png) no-repeat 0px 0px; }
    .mega-menu .brands-slider-container .bx-wrapper .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -44.5px;
      outline: 0;
      width: 26px;
      height: 89px;
      text-indent: -9999px;
      z-index: 9999; }

.grid-item.card {
  border: none; }

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3 and 4
 * 
 * https://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  padding: 15px; }

.list-unstyled,
.list-unstyled ul {
  min-width: 120px; }

.lower-menu {
  background-color: #2576ba; }

.small-separator {
  background: #b7b7b7;
  height: 1px;
  margin: auto;
  width: 60%;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px; }

.pointer {
  cursor: pointer; }

.upper-menu-container {
  border-bottom: 1px solid #b7b7b7;
  margin-bottom: 10px; }
  .upper-menu-container .upper-menu .signin-register {
    color: #5a5a5a;
    font-family: "Montserrat Alternates", sans-serif;
    line-height: 1;
    padding-top: 5px; }
    .upper-menu-container .upper-menu .signin-register .signin {
      color: #2576ba; }
    .upper-menu-container .upper-menu .signin-register .register {
      color: #ef0101; }
  .upper-menu-container .upper-menu .custom-menu {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
    .upper-menu-container .upper-menu .custom-menu li a {
      color: #000;
      padding: 5px;
      line-height: 1; }
    .upper-menu-container .upper-menu .custom-menu li.wishlist {
      position: relative; }
      .upper-menu-container .upper-menu .custom-menu li.wishlist a {
        display: inline-block; }
        .upper-menu-container .upper-menu .custom-menu li.wishlist a span.badge {
          background-color: #ef0101;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          color: #fff;
          display: inline-block; }
        .upper-menu-container .upper-menu .custom-menu li.wishlist a:last-child {
          padding: 0; }
    .upper-menu-container .upper-menu .custom-menu li.cart-icon {
      position: relative; }
      .upper-menu-container .upper-menu .custom-menu li.cart-icon span.badge {
        background-color: #ef0101;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        position: absolute;
        right: 0;
        font-size: 11px;
        padding: 2px 1px 1px; }
      .upper-menu-container .upper-menu .custom-menu li.cart-icon a::after {
        display: none; }
      .upper-menu-container .upper-menu .custom-menu li.cart-icon .dropdown-menu {
        min-width: 300px; }
        .upper-menu-container .upper-menu .custom-menu li.cart-icon .dropdown-menu img {
          width: 100%;
          max-width: initial; }
    .upper-menu-container .upper-menu .custom-menu .dropdown-menu {
      padding: 10px;
      line-height: 1.4; }
    .upper-menu-container .upper-menu .custom-menu-centered {
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center; }
      .upper-menu-container .upper-menu .custom-menu-centered > li {
        display: inline-block; }
      .upper-menu-container .upper-menu .custom-menu-centered .dropdown-menu {
        text-align: center; }
    .upper-menu-container .upper-menu .custom-menu-right {
      text-align: right;
      text-align: -webkit-right;
      text-align: -moz-right; }
      .upper-menu-container .upper-menu .custom-menu-right > li {
        display: inline-block;
        border-left: 1px solid #b7b7b7; }
        .upper-menu-container .upper-menu .custom-menu-right > li.bell-icon a {
          color: #ef0101; }
        .upper-menu-container .upper-menu .custom-menu-right > li a img {
          max-width: 24px; }
      .upper-menu-container .upper-menu .custom-menu-right .dropdown-menu {
        min-width: auto;
        text-align: left; }
        .upper-menu-container .upper-menu .custom-menu-right .dropdown-menu img {
          max-width: 24px; }

.middle-menu {
  margin-bottom: 10px; }
  .middle-menu .logo-container {
    float: left;
    width: 170px; }
  .middle-menu .search-container {
    float: left;
    width: calc(100% - 170px);
    margin-top: 20px;
    padding-left: 40px; }
    .middle-menu .search-container .all-cat-btn button {
      background-color: #2576ba;
      border: 1px solid #2576ba;
      color: #fff; }
    .middle-menu .search-container .search-button button {
      margin-left: 15px;
      border-radius: 0px;
      background-color: #2576ba;
      border: 1px solid #2576ba;
      color: #fff;
      padding-left: 20px;
      padding-right: 20px; }
      .middle-menu .search-container .search-button button:hover {
        background-color: #fff;
        color: #2576ba; }

.main-banner-container .bx-wrapper {
  margin-bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff; }
  .main-banner-container .bx-wrapper .bx-pager {
    bottom: 15px; }
    .main-banner-container .bx-wrapper .bx-pager a {
      background: #ef0101;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    .main-banner-container .bx-wrapper .bx-pager a:hover,
    .main-banner-container .bx-wrapper .bx-pager a.active,
    .main-banner-container .bx-wrapper .bx-pager a:focus {
      background: #2576ba; }

.main-banner-container .banner-item {
  line-height: 1;
  position: relative;
  text-align: right; }
  .main-banner-container .banner-item_img {
    width: 100%; }
    .main-banner-container .banner-item_img img {
      width: 100%; }
  .main-banner-container .banner-item_caption1 {
    position: absolute;
    top: 25%;
    padding-left: 50px;
    font-size: 45px; }
  .main-banner-container .banner-item_caption2 {
    position: absolute;
    top: 40%;
    padding-left: 50px;
    font-size: 45px;
    font-weight: bold; }
  .main-banner-container .banner-item_button {
    position: absolute;
    top: 60%;
    padding-left: 50px; }
    .main-banner-container .banner-item_button a {
      display: inline-block;
      background-color: #ef0101;
      border: 1px solid #ef0101;
      color: #fff;
      padding: 15px 20px; }
      .main-banner-container .banner-item_button a:hover {
        background-color: #fff;
        color: #ef0101; }

.small-banner-container {
  margin-bottom: 30px;
  position: relative; }
  .small-banner-container.with-breadcrumb .small-banner-caption-container {
    transform: translateY(-65%); }
  .small-banner-container .small-banner {
    position: relative; }
    .small-banner-container .small-banner_img img {
      width: 100%; }
  .small-banner-container .small-banner-caption-container {
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    line-height: 1;
    transform: translateY(-50%); }
    .small-banner-container .small-banner-caption-container.centered {
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center; }
      .small-banner-container .small-banner-caption-container.centered .banner-title1 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        color: #fff;
        margin-bottom: 10px; }
      .small-banner-container .small-banner-caption-container.centered .banner-title2 {
        font-size: 35px;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        margin-bottom: 10px; }
      .small-banner-container .small-banner-caption-container.centered .banner-title3 {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 20px;
        color: #fff;
        font-weight: 300; }
    .small-banner-container .small-banner-caption-container .banner-title {
      font-family: "Montserrat", sans-serif;
      color: #2576ba;
      font-weight: 500;
      font-size: 34px; }
    .small-banner-container .small-banner-caption-container .banner-brief {
      font-family: "Montserrat Alternates", sans-serif;
      color: #000;
      font-weight: 300;
      font-size: 20px; }
  .small-banner-container .banner-breadcrumb {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0; }
    .small-banner-container .banner-breadcrumb ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0; }
      .small-banner-container .banner-breadcrumb ul li {
        display: inline-block; }
        .small-banner-container .banner-breadcrumb ul li a {
          line-height: 1;
          font-size: 16px;
          font-family: "Montserrat Alternates", sans-serif;
          color: #000;
          padding: 0px 8px;
          border-left: 1px solid #000; }
        .small-banner-container .banner-breadcrumb ul li:last-child a {
          padding-right: 0;
          color: #2576ba; }
        .small-banner-container .banner-breadcrumb ul li:first-child a {
          padding-left: 0;
          border-left: none; }
        .small-banner-container .banner-breadcrumb ul li span {
          margin-right: 5px;
          position: relative;
          top: -2px; }

.item-wrapper {
  padding: 10px;
  background-color: #fff;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
  line-height: 1; }
  .item-wrapper_title {
    margin-bottom: 10px;
    margin-top: 10px; }
    .item-wrapper_title a {
      color: #000; }
  .item-wrapper_price {
    color: #2576ba; }
  .item-wrapper_img img {
    width: 100%; }
  .item-wrapper_cart_heart {
    padding-top: 15px; }
    .item-wrapper_cart_heart a {
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px; }

.product-details .main-image {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin-bottom: 15px; }
  .product-details .main-image img {
    width: 100%;
    max-width: 75%; }

.product-details .product-images-slider-c {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  .product-details .product-images-slider-c .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0; }
    .product-details .product-images-slider-c .bx-wrapper .bx-next {
      right: -45px;
      background: url(../img/arrow-right1.png) no-repeat 0px 0px; }
    .product-details .product-images-slider-c .bx-wrapper .bx-prev {
      left: -45px;
      background: url(../img/arrow-left1.png) no-repeat 0px 0px; }
    .product-details .product-images-slider-c .bx-wrapper .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      outline: 0;
      width: 40px;
      height: 18px;
      text-indent: -9999px;
      z-index: 9999; }
  .product-details .product-images-slider-c .product-images-slider > div {
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #818181;
    height: 100px;
    position: relative;
    cursor: pointer; }
    .product-details .product-images-slider-c .product-images-slider > div img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-width: 100%;
      max-height: 100%; }

.product-details-side .price1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  color: #818181;
  line-height: 1;
  text-decoration: line-through;
  font-weight: 500;
  margin-bottom: 10px; }

.product-details-side .price2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 35px;
  color: #2576ba;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px; }
  .product-details-side .price2 span {
    font-size: 25px;
    margin-left: 10px; }

.product-details-side .title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px; }

.product-details-side .sku {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300; }

.product-details-side .brand {
  margin-bottom: 15px;
  margin-top: 15px; }
  .product-details-side .brand img {
    max-width: 200px; }

.product-details-side .desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px; }

.product-details-side .color {
  color: #5a5a5a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px; }

.product-details-side .qty {
  color: #5a5a5a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px; }
  .product-details-side .qty .input-wrapper {
    margin-left: 15px;
    margin-right: 15px; }
    .product-details-side .qty .input-wrapper i {
      padding: 3px;
      cursor: pointer; }
    .product-details-side .qty .input-wrapper input {
      width: 50px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      -moz-appearance: textfield; }
      .product-details-side .qty .input-wrapper input:focus {
        outline: none; }
      .product-details-side .qty .input-wrapper input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .product-details-side .qty .input-wrapper input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }

.product-details-side .buttons a {
  display: inline-block;
  color: #818181 !important;
  border: 1px solid #818181;
  border-radius: 4px;
  line-height: 1;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif; }
  .product-details-side .buttons a:first-child {
    margin-right: 15px; }
  .product-details-side .buttons a.add-to-cart {
    color: #818181 !important;
    border: 1px solid #818181; }
    .product-details-side .buttons a.add-to-cart img {
      width: 25px;
      margin-right: 10px; }
    .product-details-side .buttons a.add-to-cart:hover {
      background-color: #818181;
      color: #fff !important; }
      .product-details-side .buttons a.add-to-cart:hover img {
        filter: brightness(0) invert(1); }
  .product-details-side .buttons a.buy-now {
    background-color: #c3023b;
    color: #fff !important;
    border: 1px solid #c3023b;
    padding: 13px 20px;
    font-weight: bold; }
    .product-details-side .buttons a.buy-now img {
      width: 25px;
      margin-right: 10px; }
    .product-details-side .buttons a.buy-now:hover {
      background-color: #fff;
      color: #c3023b !important; }

.specifications {
  margin-top: 50px;
  margin-bottom: 50px; }
  .specifications .specs-wrapper {
    margin-top: 25px; }
    .specifications .specs-wrapper .specs-item {
      padding-bottom: 5px;
      padding-top: 5px;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #5a5a5a;
      border-bottom: 1px solid #5a5a5a; }
      .specifications .specs-wrapper .specs-item:last-child {
        border-bottom: none; }

.related {
  width: 90%;
  margin: auto;
  margin-top: 25px; }
  .related .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0; }
    .related .bx-wrapper .bx-next {
      right: -45px;
      background: url(../img/arrow-right1.png) no-repeat 0px 0px; }
    .related .bx-wrapper .bx-prev {
      left: -45px;
      background: url(../img/arrow-left1.png) no-repeat 0px 0px; }
    .related .bx-wrapper .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      outline: 0;
      width: 40px;
      height: 18px;
      text-indent: -9999px;
      z-index: 9999; }

footer {
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px; }
  footer .footer1 {
    margin-bottom: 30px; }
    footer .footer1 .footer-logo img {
      width: 100%; }
    footer .footer1 .social-media {
      text-align: center;
      margin-top: 15px; }
      footer .footer1 .social-media a {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px; }
  footer .footer2 p {
    text-align: center;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #353535; }
    footer .footer2 p a {
      color: red; }
  footer .footer-menu_title {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; }
    footer .footer-menu_title::after {
      background: none repeat scroll 0 0 #2576ba;
      bottom: 0px;
      content: "";
      display: block;
      height: 3px;
      position: relative;
      width: 30px;
      left: 0; }
  footer .footer-menu ul {
    padding-left: 0;
    list-style: none; }
    footer .footer-menu ul li a {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #000; }
      footer .footer-menu ul li a:hover {
        color: #2576ba; }

@media (max-width: 768px) {
  .middle-menu .logo-container {
    float: none;
    width: 100%;
    text-align: center; }
  .middle-menu .search-container {
    width: 100%;
    padding-left: 0; }
    .middle-menu .search-container span {
      display: inline-block; }
    .middle-menu .search-container .search-button button {
      margin-left: 0; }
  .main-banner-container .bx-wrapper {
    margin-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff; }
    .main-banner-container .bx-wrapper .bx-pager {
      bottom: 15px; }
      .main-banner-container .bx-wrapper .bx-pager a {
        background: #ef0101;
        width: 15px;
        height: 15px;
        border-radius: 50%; }
      .main-banner-container .bx-wrapper .bx-pager a:hover,
      .main-banner-container .bx-wrapper .bx-pager a.active,
      .main-banner-container .bx-wrapper .bx-pager a:focus {
        background: #2576ba; }
  .main-banner-container .banner-item {
    line-height: 1;
    position: relative;
    text-align: right; }
    .main-banner-container .banner-item_img {
      width: 100%; }
      .main-banner-container .banner-item_img img {
        width: 100%; }
    .main-banner-container .banner-item_caption1 {
      position: absolute;
      top: 25%;
      padding-left: 50px;
      font-size: 45px;
      display: none; }
    .main-banner-container .banner-item_caption2 {
      position: absolute;
      top: 40%;
      padding-left: 50px;
      font-size: 45px;
      font-weight: bold;
      display: none; }
    .main-banner-container .banner-item_button {
      position: absolute;
      top: 50%;
      padding-left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%); }
      .main-banner-container .banner-item_button a {
        display: inline-block;
        background-color: #ef0101;
        border: 1px solid #ef0101;
        color: #fff;
        padding: 15px 20px; }
        .main-banner-container .banner-item_button a:hover {
          background-color: #fff;
          color: #ef0101; }
  .mobile-menu {
    background-color: #2576ba; }
    .mobile-menu .dropdown-item:active {
      background-color: transparent; }
    .mobile-menu .dropdown-item:hover {
      color: #2576ba;
      background-color: #fff; }
    .mobile-menu .dropdown-menu {
      background-color: transparent; }
    .mobile-menu .dropdown-submenu {
      position: relative; }
      .mobile-menu .dropdown-submenu ul .dropdown-item {
        padding: 0.25rem 1.5rem 0.25rem 5rem; }
    .mobile-menu .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: 0px;
      margin-left: 0px; }
    .mobile-menu .navbar-light .navbar-toggler-icon {
      background-image: url('data:image/svg + xml,%3csvgviewBox="0 0 30 30"xmlns="http://www.w3.org/2000/svg"%3e%3cpathstroke="rgb(255, 255, 255)"stroke-width="2"stroke-linecap="round"stroke-miterlimit="10"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e'); }
    .mobile-menu .navbar-light .navbar-nav .show > .nav-link {
      color: #fff; }
    .mobile-menu .navbar-light .navbar-toggler {
      border-color: #fff; }
      .mobile-menu .navbar-light .navbar-toggler:focus {
        outline: none; }
    .mobile-menu .navbar-light ul.navbar-nav > li > a {
      color: #fff;
      font-family: "Montserrat Alternates", sans-serif; }
  .main-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px; }
  .special-tags ul li a {
    font-size: 14px;
    padding: 0px 6px; }
  .categories-slider-wrapper {
    padding-bottom: 40px; }
    .categories-slider-wrapper .bx-wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      margin-bottom: 0;
      background-color: transparent; }
      .categories-slider-wrapper .bx-wrapper .bx-pager {
        bottom: -35px; }
        .categories-slider-wrapper .bx-wrapper .bx-pager a {
          background: #5492c6;
          width: 25px;
          height: 25px;
          border-radius: 50%; }
        .categories-slider-wrapper .bx-wrapper .bx-pager a:hover,
        .categories-slider-wrapper .bx-wrapper .bx-pager a.active,
        .categories-slider-wrapper .bx-wrapper .bx-pager a:focus {
          background: #c6d6e4; }
  .ads-container .ad1,
  .ads-container .ad2 {
    margin-bottom: 25px; }
  .footer-logo {
    display: none; }
  footer .footer1 .social-media {
    margin-top: 0px;
    margin-bottom: 15px; }
  .small-banner-container + .breadcrumb-c .breadcrumb-c-inner {
    margin-bottom: 10px; }
    .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0; }
      .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul li {
        display: inline-block; }
        .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul li a {
          line-height: 1;
          font-size: 16px;
          font-family: "Montserrat Alternates", sans-serif;
          color: #000;
          padding: 0px 8px;
          border-left: 1px solid #000; }
        .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul li:last-child a {
          padding-right: 0;
          color: #2576ba; }
        .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul li:first-child a {
          padding-left: 0;
          border-left: none; }
        .small-banner-container + .breadcrumb-c .breadcrumb-c-inner ul li span {
          margin-right: 5px;
          position: relative;
          top: -2px; }
  .small-banner-container {
    margin-bottom: 30px;
    position: relative; }
    .small-banner-container.with-breadcrumb {
      margin-bottom: 15px; }
      .small-banner-container.with-breadcrumb .small-banner-caption-container {
        transform: translateY(-50%); }
        .small-banner-container.with-breadcrumb .small-banner-caption-container.centered .banner-title1 {
          font-size: 25px;
          margin-bottom: 0; }
        .small-banner-container.with-breadcrumb .small-banner-caption-container.centered .banner-title2 {
          display: none; }
        .small-banner-container.with-breadcrumb .small-banner-caption-container.centered .banner-title3 {
          display: none; }
    .small-banner-container .small-banner {
      position: relative; }
      .small-banner-container .small-banner_img img {
        width: 100%; }
    .small-banner-container .small-banner-caption-container .banner-title {
      font-size: 25px; }
    .small-banner-container .small-banner-caption-container .banner-brief {
      display: none; }
    .small-banner-container .banner-breadcrumb {
      display: none; }
  .spotlight-deals_title {
    font-size: 25px;
    padding-bottom: 10px; }
    .spotlight-deals_title span {
      float: right;
      position: relative;
      top: -6px; }
      .spotlight-deals_title span img {
        width: 50px; }
  .spotlight-deals_item_title {
    margin-bottom: 15px; }
    .spotlight-deals_item_title a {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 500;
      font-size: 266;
      color: #000; }
  .spotlight-deals_price1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32px;
    color: #818181;
    line-height: 1;
    text-decoration: line-through;
    font-weight: 500;
    margin-bottom: 10px; }
  .spotlight-deals_price2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 40px;
    color: #2576ba;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 10px; }
    .spotlight-deals_price2 span {
      font-size: 25px;
      margin-left: 10px; }
  .spotlight-deals_buttons {
    margin-top: 25px; }
    .spotlight-deals_buttons a {
      padding: 10px; }
      .spotlight-deals_buttons a:first-child {
        margin-right: 15px; }
      .spotlight-deals_buttons a img {
        width: 25px;
        margin-right: 10px; }
      .spotlight-deals_buttons a:hover {
        background-color: #818181;
        color: #fff !important; }
  .upper-menu-container {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 10px; }
    .upper-menu-container .upper-menu .signin-register {
      color: #5a5a5a;
      font-family: "Montserrat Alternates", sans-serif;
      line-height: 1;
      padding-top: 5px; }
      .upper-menu-container .upper-menu .signin-register .signin {
        color: #2576ba; }
      .upper-menu-container .upper-menu .signin-register .register {
        color: #ef0101; }
    .upper-menu-container .upper-menu .custom-menu li.wishlist a span.badge {
      width: 15px;
      height: 15px;
      position: absolute;
      right: -3px;
      font-size: 11px; }
    .upper-menu-container .upper-menu .custom-menu li.wishlist a:last-child {
      padding: 0;
      position: absolute; }
  .specifications {
    margin-top: 30px;
    margin-bottom: 10px; }
  .product-details .product-images-slider-c {
    margin-bottom: 25px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; }
  .related {
    width: 65%; } }
