/* CSS Document */
Body {
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.Grad {
	background-image: url(../images/grad.jpg);
	width: 100%;
	height: 50px;
}

#scrollDiv {
	height: 29em;
	width: 13em;
	overflow: auto;
	scrollbar-face-color: #ededee;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #ededee;
	scrollbar-shadow-color: rgb(0, 0, 0);
	scrollbar-highlight-color: rgb(0, 0, 0);
	scrollbar-3dlight-color: #ededee;
	scrollbar-darkshadow-Color: #ededee;
	padding: 0px;
}

.border {
	border: 1px solid #e2e2e2;
}

.bold {
	font-weight: bold;
}

.Tblborder {
	border: 1px solid #478abe;
}

/*//////////////////////// Text //////////////////////////*/
.Text {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.LoginTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-repeat: no-repeat;
}

.TdHeaders {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #ef1515;
}

.Title {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-stretch: expanded;
	color: #000000;
	vertical-align: middle;
}

.SetTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background: url(../images/title_bg.jpg);
	background-repeat: no-repeat;
}

.SiteLink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.InputsDesc {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	padding-left: 35px;
	padding-right: 5px;
	text-align: right;
}

.Msg {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	text-align: center;
	border: 1px solid red;
	padding: 3px;
	background-color:#fdfacf;
}

.TdBodyborder {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-bottom: 1px solid #e5eaef;
	border-left: 1px solid #e5eaef;
	font-size: 13px;
	text-align: center
}

.TdTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border: 1px solid #e5eaef;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bold
}

.TdInnerTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-Left: 1px solid #e5eaef;
	border-Right: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
	color: #FFFFFF;
	background-color: #f3f3f3;
	font-weight: bold
}

.FormControlDesc {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-left: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
	font-size: 11px;
	text-align: left;
	padding-left: 10px;
	color: #000000;
	background-color: #f3f3f3;
	font-weight: bold;
}

/*//////////////////////// Links //////////////////////////*/
a {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #666666;
}

a.Log {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	vertical-align: middle;
	text-decoration: none;
}

a.Log:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	text-decoration: none;
}

a.MenuLinks {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #064bbd;
	text-decoration: underline;
}

a.MenuLinks:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.SubMenuLinks {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

a.SubMenuLinks:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}

a.defaultLinks {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

a.defaultLinks:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}

/*//////////////////////// DIV //////////////////////////*/
.DivDisplay {
	margin: 0px 0px 0px 0px;
	display: none;
}

/*//////////////////////// Forms //////////////////////////*/
.InputText {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
	height: 17px;
	border: 1px solid maroon;
}

.File {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 218px;
	height: 17px;
	border: 1px solid #f3f3f3;
}

.InputTextTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 550px;
	height: 17px;
	border: 1px solid gray;
}

.InputButtons {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid maroon;
	background-color: #f3f3f3;
}

.InputButtonBig {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
	height: 17px;
	border: 1px solid #f3f3f3;
	background-color: #FFFFFF
}

.DisplaySelect {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 102px;
	height: 17px;
	border: 1px solid #e5eaef;
}

.FormSelect {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
	height: 17px;
	border: 1px solid #f3f3f3;
}

.FormSelectExpand {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	height: 17px;
	border: 1px solid #f3f3f3;
}

/*//////////////////////// Others //////////////////////////*/
.MenuBorderL {
	border-left: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
	text-align: center;
}

.MenuBorderR {
	border-right: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
}

.SubMenuTd {
	border: 1px solid #e5eaef;
}

.MenuBorderR {
	border-right: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
}

.TdHeaderBorder {
	border-left: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
	border-top: 1px solid #e5eaef;
}

.TdFormBorder {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	border-right: 1px solid #e5eaef;
	border-bottom: 1px solid #e5eaef;
	height: 25px;
}

.SubMenuBorder {
	border-bottom: 1px solid #e5eaef;
	padding-left: 26px;
}

.SubMenuPad {
	padding-left: 26px;
}

.Pad10Left {
	padding-left: 10px;
}

.Pad10Right {
	padding-right: 10px;
}

.MainPad {
	padding: 10px;
}

.font8px {
	font-size: 8px;
}

.font9px {
	font-size: 9px;
}

.font10px {
	font-size: 10px;
}

.font11px {
	font-size: 11px;
}

.font12px {
	font-size: 12px;
}

.font13px {
	font-size: 13px;
}

.font14px {
	font-size: 14px;
}

.font15px {
	font-size: 15px;
}

.font16px {
	font-size: 16px;
}

.font17px {
	font-size: 17px;
}

.font18px {
	font-size: 18px;
}

.font19px {
	font-size: 19px;
}

.font20px {
	font-size: 20px;
}

.font21px {
	font-size: 21px;
}
.menuDiv{
	margin: 5px;
}